<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>security - index</title>
</head>
<body>
<div class="starter-template">
    <h1>Spring Boot +Spring Security 示例</h1>
    <h2>1. 打开 <a href="/security/hello">游客页面（/security/hello）</a></h2>
    <h2>2. 打开 <a href="/security/admin">管理员页面（/security/admin）</a></h2>
    <h2>3. 打开 <a href="/security/user">用户页面（/security/user）</a></h2>
    <br/><br/>
    <h2>4. 打开 <a href="/security/login">登录页面（/securitylogin）</a></h2>
    <h2>5. 打开 <a href="/security/exit">退出登录（/security/exit）</a></h2>
</div>
</body>
</html>